---
import RssParser from "rss-parser";
import { sliceStringByBytes } from "@/lib/utils";

const {feedUrl} = Astro.props;
const parser = new RssParser();
const feed = await parser.parseURL(feedUrl as string);
const posts = feed.items.slice(0, 3);
---


  <div class="columns is-multiline">
    {posts.map((post) => (
      <div class="column is-one-third">
        <div class="card">
          <div class="card-content">
            <p class="title">
              <a href={post.link}>{post.title}</a>
            </p>
            <p class="subtitle">
              {post.pubDate && new Date(post.pubDate).toLocaleDateString()}
            </p>
            <div class="content">
              {sliceStringByBytes(post.contentSnippet, 0, 200)}
              <br />
            </div>
          </div>
        </div>
      </div>
    ))}
  </div>