---
import { WebsiteConfig } from "@/config";
import type { ui } from "@/i18n/ui";
import { getLangFromUrl } from "@/i18n/utils";

const l = getLangFromUrl(Astro.url);
const footer = WebsiteConfig(l as keyof typeof ui).footer();
---

<footer class="footer">
    <div class="content has-text-centered">
        <p>
            <strong>{WebsiteConfig(l as keyof typeof ui).metadata.title}</strong
            >
        </p>
        <p>{footer.copyright}</p>
        {
            footer.links.map((link) => (
                <a href={link.href}>
                    <span class="icon-text">
                        <span>{link.label}</span>
                        <span class="icon" style="margin-right: 0.5rem;">
                            <i class="fas fa-link" />
                        </span>
                    </span>
                </a>
            ))
        }
    </div>
</footer>
