---
import { PatronList } from "@/data/patrons";

---


  <div class="columns is-multiline">
    {PatronList.map((patron) => (
      <div class="column is-one-third">
        <div class="card">
          <div class="card-content">
            <p class="title">
              {patron.name}
            </p>
            <p class="subtitle">
              {patron.affiliation}
            </p>
          </div>
        </div>
      </div>
    ))}
  </div>