---
import { useTranslations } from '@/i18n/utils';
import type { ui } from '@/i18n/ui';
import { languages } from  '@/i18n/ui';
 import Layout from '@/layouts/Layout.astro';
export function getStaticPaths() {
    const languageKeys = Object.keys(languages);
	return languageKeys.map((lang) => {
        return { params: { lang } };
    });
}
const t = useTranslations(Astro.currentLocale as keyof typeof ui);
---

<Layout>
<section class="hero is-large">
  <div class="hero-body">
    <h1 class="title is-size-1 mb-0">FOSS for All Conference</h1>
    <h1 class="is-size-1">Coexist with Open Source</h1>
    <h1 class="is-size-1">{`${t("home.hero.date")}`}</h1> 
    <h1 class="is-size-1">{`${t("home.hero.venue")}`}</h1> 
  </div>
</section>
</Layout>